<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>eworldaccelerator</name>
	<displayName><![CDATA[eworld Accelerator]]></displayName>
	<version><![CDATA[0.1.0]]></version>
	<description><![CDATA[Delete automatically the eworld Accelerator\'s cache when a modification is made on the back office.]]></description>
	<author><![CDATA[eworld Accelerator]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
